.main{
    padding: 80px;
}
.gap{
    padding-left: 40px !important;
    color: black;
    font-size: 20px !important;
}
.btnn{
    margin-left: 70px;
}
/* adding line through when checked */
.line{
    text-decoration: line-through !important;
}
@media(max-width:450px){
    .main{
        padding: 20px;
    }
    .gap{
        padding-left: 25px !important;
        color: black;
        font-size: 15px !important;
    }
    .btnn{
        margin-left: 50px;
    }

}
